/* general styles */
body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
}

.container {
  padding: 5% 10%;
  text-align: center;
}

img {
  border-radius: 50%;
}

h1 {
  font-size: 50px;
}

/* nav bar */
nav {
  background-color: white;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

nav li {
  padding: 10px 30px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(236, 15, 100);
  text-decoration: line-through;
}

/* header section */
header {
  background: -webkit-linear-gradient(90deg, rgb(109, 22, 237), rgb(235, 28, 151));
  background: linear-gradient(90deg, rgb(109, 22, 237), rgb(235, 28, 151));
    font-size: 25px;
  padding: 15% 10%;
}

header h1 span {
  color: white;
  font-family: 'LeckerliOne-Regular', cursive;
  font-size: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

header h1 span:hover {
  color: palevioletred;
}

/* about me section */
.about {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 1)
    ), url('../images/starbackground.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

/* my skills section */
.skills ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
}

.skills li {
  background-color: rgb(99, 172, 255);
  box-shadow: 20px 20px 1px 2px rgb(245, 138, 245);
  font-size: 30px;
  margin: 1%;
  padding: 3%;
  text-align: center;
}

/* my work  */
.work {
  background-color:#EC2379;
}

.work .work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  }
  .work-items img {
    width:300px;
    height:300px;
  }

/* footer */
.social {
  display: flex;
  justify-content: space-around;
}

footer .svg-inline--fa {
  color: salmon;
  font-size: 65px;
}

footer .svg-inline--fa:hover {
  color: #3C778A;
}
